@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateButton {
  0% {
    transform: rotate(0deg);
    background: none;
  }
  100% {
    transform: rotate(180deg);
    background: none;
  }
}
@keyframes unrotateButton {
  0% {
    transform: rotate(180deg);
    background: none;
  }
  100% {
    transform: rotate(0deg);
    background: none;
  }
}

@keyframes hide {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 96%;
  }
}
@keyframes unhide {
  0% {
    left: 96%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
