@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateButton {
  0% {
    transform: rotate(0deg);
    background: none;
  }
  100% {
    transform: rotate(180deg);
    background: none;
  }
}
@keyframes unrotateButton {
  0% {
    transform: rotate(180deg);
    background: none;
  }
  100% {
    transform: rotate(0deg);
    background: none;
  }
}

@keyframes hide {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 96%;
  }
}
@keyframes unhide {
  0% {
    left: 96%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 55px 12px rgba(255,255,255, 0.75);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: -1px 10px 52px -2px rgba(0, 0, 0, 0.75);
  }
}
